$font: 'Tenor Sans', sans-serif;

$accent: goldenrod;
$punch: rgb(237, 237, 13);
$background-color: rgb(109, 109, 109);
$color: rgb(214, 212, 212);

* {
	box-sizing: content-box;
	letter-spacing: 1px;
}

.project-card-parent {
	display: grid;
	height: auto;

	min-width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0px 1fr auto auto auto;
	grid-template-areas: '. . . .' 'nameOf nameOf nameOf nameOf' 'essay essay essay pic' '. highlight highlight .' '. stack stack .';
	font-family: $font;

	font-size: 20px;

	justify-content: center;
	text-align: center;

	// align-content: center;
}
.mini-project-title {
	width: 100%;
	grid-area: nameOf;
	background-color: rgba(63, 63, 63, 0.39);
	backdrop-filter: opacity(.4) blur(10px);
	padding: 10px 0px;
	align-self: center;
	font-family: $font;
	font-size: 28px;
	font-weight: 100;

	//letter-spacing: 1px;
	line-height: 28px;
	word-spacing: 2.9px;
	font-family: 'Piazzolla', serif;
	font-style: italic;
	color: $color;
	color: rgba(191, 192, 192, 0.959);
}
.mini-project-body {
	grid-area: essay;
	align-self: center;
	justify-self: center;
	text-align: left;
	padding: 35px;
	margin: 20px;
	font-family: $font;
	font-size: calc(14px + .1vw);
	font-weight: 100;

	line-height: 22px;

	color: $color;
}
.project-details {
	color: $accent;
	font-family: 'Piazzolla', serif;
	font-size: 22px;
	font-family: $font;
	letter-spacing: 1.5px;
	line-height: 22px;
	word-spacing: 2.9px;
	font-weight: 400;
}

.highlight-body {
	color: $accent;
	font-size: 22px;
	font-family: $font;
	letter-spacing: 2px;
	line-height: 22px;
	word-spacing: 2.9px;
	font-weight: 100;
}
.site-status {
	color: rgba(39, 192, 197, 0.959);
	font-family: $font;
	font-size: calc(14px + 0.2vw);
}
.mini-project-highlights {
	grid-area: highlight;
	text-align: center;
	font-family: $font;
	font-size: calc(14px + 0.1vw);
	line-height: 20px;
	font-weight: 100;

	color: $color;
}
.mini-project-stack {
	grid-area: stack;
	text-align: center;
	font-family: $font;
	font-size: 18px;
	font-weight: 100;

	color: $color;
}
.mini-project-picture {
	grid-area: pic;

	padding: 25px 5px;
	margin-top: 20;
	align-self: center;
}


.mini-project-video {
	grid-area: pic;
//	justify-content: 'center';
//	align-items: 'center';

	padding: 25px 5px;
	align-self: center;
		width: '100%';
	height: 'auto';
//	justify-self: 'center';
}
.mini-project-picture {
	grid-area: pic;

	padding: 25px 5px;
	align-self: center;
}


.project-pic {
	border-radius: 20px;
	border: 3px inset rgb(194, 187, 183);
	height: 250px;
	width: 170px;
	object-fit: cover;

	&:hover {
		cursor: pointer;
	}
}

@media all and (max-width: 810px) {
	.project-card-parent {
		display: grid;
		max-width: 900px;

		max-width: 100%;
		height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 0px auto 1fr auto auto auto;
		grid-template-areas: '.' ' nameOf' 'pic' 'essay ' ' highlight' 'stack';
		font-family: $font;

		font-size: calc(14px + 0.2vw);
		justify-content: center;
		text-align: center;
		// align-content: center;
	}

	.mini-project-video {
	grid-area: pic;

	display: flex;
	width: 250;
//	height: 'auto';
	//	overflow: hidden;
	padding: 25px 5px;

}
	.mini-project-highlights {
		grid-area: highlight;

		text-align: left;
		font-family: $font;
		font-size: calc(14px + 0.2vw);
		font-weight: 100;
		padding: 0px 35px;
	}
	.mini-project-stack {
		grid-area: stack;

		text-align: left;
		font-family: $font;
		font-size: calc(14px + 0.2vw);
		font-weight: 100;
		padding: 0px 35px;
		padding-bottom: 75px;
	}
}
