* {
	box-sizing: content-box;
}

.project-wrapper {
	color: rgb(56, 53, 50);
	background-color: rgba(192, 192, 192, 0.664);
	box-sizing: border-box;
	justify-content: center;
	display: flex;
  flex-direction: column;
}

.project-card-parent {
  display: grid;
  background: rgb(164, 164, 164);
	height: auto;
  margin: 5px 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 34px 1fr auto auto auto;
	grid-template-areas: '. . . .' 'nameOf nameOf nameOf nameOf'
    'essay essay essay pic' 'highlight highlight highlight highlight'
    'stack stack stack stack';
	font-family: 'Titillium Web';
	color: black;
	font-size: 18px;
	justify-content: center;
	text-align: center;
  // align-content: center;
	background: rgb(255, 255, 255);
}
.mini-project-title {
	grid-area: nameOf;
	background: rgb(164, 164, 164);
	background: linear-gradient(
		90deg,
		rgba(164, 164, 164, 0.5) 1%,
		rgba(165, 162, 156, 1) 33%,
		rgba(164, 162, 158, 1) 50%,
		rgba(164, 164, 164, 1) 66%,
		rgba(164, 164, 164, 0.49612403100775193) 99%
	);
	align-self: center;
	text-transform: capitalize;
	font-family: 'Indie-Flower';
	font-size: 28px;
	color: rgb(59, 59, 59);
}
.mini-project-body {
	grid-area: essay;
  align-self: center;
  justify-self: center;
  text-align: left;
  padding: 25px;
  font-family: 'Cormorant Garamond', cursive;
  font-size: 18px;
  font-weight: 600;
}
.mini-project-highlights {
	grid-area: highlight;
  background-color: transparent;
  text-align: center;
  font-family: 'Cormorant Garamond', cursive;
  font-size: 18px;
  font-weight: 600;



}
.mini-project-stack {
	grid-area: stack;
  background-color: transparent;
  text-align: center;
  font-family: 'Cormorant Garamond', cursive;
  font-size: 18px;
  font-weight: 600;


}
.mini-project-picture {
	grid-area: pic;
	background-color: transparent;
	padding: 5px;
}

.project-pic {
	border-radius: 20px;
	border: 3px inset rgb(194, 187, 183);
  height: 250px;
  width: 170px;
  object-fit: cover;

	&:hover {
		cursor: pointer;
	}
}
