*{box-sizing: content-box;}

.project-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  color: rgb(56, 53, 50);
  background-color: rgba(192, 192, 192, 0.664);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;

}

.project-parent {
  width: 100%;
  font-family: 'Titillium Web';
  padding-top: 50px;
 

}

.project-title-area {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(224, 204, 17);
  
}

.project-main-title {
  font-size: 24px;
  font-family: 'Titillium Web';
  padding: 10px;
}
.project-subtitle {
  font-size:18px;
  font-family: 'Titillium Web';
  padding: 10px;
}
