.header {
	box-sizing: content-box;
	display: flex;
	margin: 40px auto;
	color: goldenrod;
	font-size: calc(26px + .3vw);
	font-family: 'Piazzolla', serif;
}

.bio-card-block {
	//display: flex;
	max-width: 100%;
	padding: 10px;
}

.bio-card {
	display: flex;
	flex-direction: column;

	display: flex;
	padding: 10px;
	border-radius: 10px;
	margin: auto;

	background-color: rgba(46, 44, 44, 0.418);
	box-shadow: 1px 1px 2px rgb(87, 87, 87), -1px -1px 2px rgb(87, 87, 87);
}

.bio-card-top {
	display: flex;
	justify-content: space-between;
	
}

.bio-card-bottom {
	padding: 20px 20px 30px 20px;
	color: white;
	font-weight: 100;
	font-family: 'Tenor Sans', serif;
	font-size: 14px;
	word-spacing: 1.3px;
}

.picture {
	border: solid;
	border-color: rgb(77, 75, 75);
	background-repeat: no-repeat;
	
	margin-left: 10px;
	background-size: contain;
	height: 100px;
	width: 100px;
	min-height:100px;
	min-width: 100px;

	border-radius: 10px;
}

.ref-details {
	display: flex;
	flex-direction: column;
	justify-content: right;

	margin-left: auto;
	width: 100%;

	padding: 10px;
}

.name {
	display: flex;
	align-self: flex-end;
	justify-self: right;
	font-size: 22px;
	color: goldenrod;
	text-align: left;
	font-family: 'Piazzolla', serif;
	

}

.title {
	font-size: 12px;
	text-align: right;
	
 color: rgba(39, 192, 197, 0.959);
	font-family: 'Piazzolla', serif;
}
