.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.header {
  box-sizing: content-box;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-family: "Source Code Pro", Courier, monospace;
  background: transparent;
  text-shadow: #d0d0cd 1px 1px 0;
  font-weight: 700;
  line-height: 1;
  font-size: 42px;
  align-self: center;
  font-family: "Cinzel", serif;
  margin-top: 56px;
  margin-bottom: 8px;
}

.row::after {
  content: "";
  box-sizing: content-box;
  clear: both;
  display: table;
}

/* For mobile phones: */
[className="bioCard"] {
  box-sizing: content-box;
  width: 90%;
  clear: both;
  display: table;
}

@media only screen and (min-width: 1200px) {
  /* For tablets: */
  .parent {
    box-sizing: content-box;
    width: 91.66%;
    clear: both;
  }
  .bioCard {
    box-sizing: content-box;
    width: 100%;
  }
  .bioCard > span {
    box-sizing: content-box;
    max-width: 100%;
  }
}

.wrapper {
  box-sizing: content-box;
  color: black;
  box-sizing: content-box;
  z-index: 0;
}

.bioCard {
  box-sizing: content-box;
  background-color: white;
  margin: 1px;

  border-style: inset;
  z-index: 2;
  max-width: 90%;
  min-width: 25%;
  min-height: 24vh;
  float: left;
  position: relative;
  flex-direction: row;
  color: white;
  text-align: left;
  border: none;
}

hr {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-block-style: inset;
  border-block-start-width: 2.1px;
  border-block-end-width: 1.5px;

  float: top;
}

.bioCard > span {
  box-sizing: content-box;
  margin-bottom: 25px;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 80%;
  max-height: 50%;
  z-index: 5;
  position: relative;
  color: rgb(77, 75, 75);
  float: left;
  padding-left: 100px;
}
.picture {
  float: left;

  border: solid;
  border-color: rgb(77, 75, 75);
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
  z-index: 4;
  border-block-width: 12px;
  margin: 10px;
  background-size: contain;
  margin-bottom: auto;
}

/* .wrapper .note {
  position: absolute;
  background-color: gray;
  padding: 10px;
  float: right;
  width: 43%;
  height: 97%;
  margin-left: 55px;
  margin-top: 625px;
  line-height: 1.2;
  z-index: 1;
  border-style: solid;
  min-width: 43%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  font-size: 20px;
  font-weight: 650;
} */
#title {
  font-size: 1em;
  text-align: right;
  line-height: -1;
  color: rgb(77, 75, 75);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  position: relative;
  padding: 15px;
  margin: -27px;
  padding-right: 3.2%;
  padding-bottom: 25px;
}

#name {
  word-wrap: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.5rem;
  color: rgb(77, 75, 75);
  text-align: left;
  margin: 10px;
}

@media screen and (min-width: 900px) {
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* For mobile phones: */
  [className="bioCard"] {
    width: 100%;
    clear: both;
    display: table;
  }

  @media only screen and (min-width: 900px) {
    /* For tablets: */
    .parent {
      width: 91.66%;
      clear: both;
    }
    .bioCard {
      width: 100%;
    }
    .bioCard > span {
      max-width: 100%;
    }
  }

  .wrapper {
    color: black;
    z-index: 0;
  }

  .bioCard {
    border-bottom-color: rgba(110, 105, 105, 0.527);
    border-top-color: rgba(61, 59, 59, 0.466);
    border-right-color: rgba(117, 112, 112, 0.473);
    border-left-color: rgba(99, 95, 95, 0.37);
    // border-block-end-width: 0.1px;
    // border-block-end-width: 5.5px;
    border-left: 1.25px;
    border-top: 0.75px;
    border-right: 0.75px;
    border-bottom: 0.75px;
    background-color: white;
    margin: 10px;
    padding: 1em;
    border-style: inset;
    z-index: 2;
    max-width: 90%;
    min-width: 25%;
    float: left;
    position: relative;
    flex-direction: row;
    color: white;
    text-align: left;
    border: none;
  }

  hr {
    color: rgb(59, 58, 58);
    background-color: rgb(77, 75, 75);
    border-block-style: inset;
    border-block-start-width: 2.1px;
    border-block-end-width: 1.5px;
    float: top;
  }

  .bioCard > span {
    margin-top: 15px;
    background-color: transparent;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    max-width: 80%;
    max-height: 50%;
    z-index: 5;
    position: relative;
    color: rgb(77, 75, 75);
    float: left;
    padding-left: 25px;
  }
  .picture {
    float: left;
    border: solid;
    border-color: rgb(77, 75, 75);
    height: 125px;
    width: 125px;
    background-repeat: no-repeat;
    z-index: 4;
    border-block-width: 12px;
    margin: 10px;
    background-size: contain;
    margin-bottom: auto;
  }

  /* .wrapper .note {
    position: absolute;
    background-color: gray;
    padding: 10px;
    float: right;
    width: 43%;
    height: 97%;
    margin-left: 55px;
    margin-top: 625px;
    line-height: 1.2;
    z-index: 1;
    border-style: solid;
    min-width: 43%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 20px;
    font-weight: 650;
  } */
  #title {
    font-size: 1em;
    text-align: right;
    line-height: -1;
    color: rgb(77, 75, 75);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    position: relative;
    padding: 25px;
    margin: -27px;
    padding-right: 3.2%;
    padding-bottom: 25px;
  }

  #name {
    word-wrap: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-size: 1rem;
    color: rgb(77, 75, 75);
    text-align: left;
    margin: 10px;
  }
}
