$main-title-color: rgba(218, 165, 32, 0.741);
$sub-title-color: rgb(255, 187, 0);
$font-color: rgba(255, 255, 255, 0.939);
$icon-color: #7b7d7c;
$background-icon-color: rgb(91, 89, 89);
$background-body-color: rgba(255, 255, 255, 0.224);
$background-main-body-color: transparent;

:root {
  --bio-background: url("../../Assets/grey1.jpg");
}

$icon-color: "goldenrod";

.bio-wrapper {
  box-sizing: content-box;
  background-color: black;
}

.bio-parent {
  box-sizing: content-box;
  text-align: center;
  background-color: $background-body-color;
  justify-content: center;
  text-align: center;
  padding: 2px;
  padding-top: 30px;
}

.bio-title-area {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $background-main-body-color;
  height: auto;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
    var(--bio-background) cover center;

  overflow: hidden;
  position: relative;
}

.bio-main-title {
  font-family: "Mr Dafoe", cursive;
}

.bio-subtitle-main {
  margin: 2px;
  font-size: 12px;
  font-weight: 00;
  color: $main-title-color;
  border-radius: 20px;
  //  box-shadow: 3px 3px 3px 0 rgb(123, 125, 124, 1),
  //    -4px 4px 3px 0 rgba(0, 0, 0, 0.3);
}

.bio-subtitle {
  font-size: 20px;
  font-family: "Cinzel";
  font-weight: 0;
  letter-spacing: 2px;
  padding: 15px;
  margin: 20px;
  background-color: $background-body-color;
  color: $sub-title-color;
  text-shadow: rgba(41, 40, 40, 0.836) 1.3px 0.5px 0.5px;
  border-radius: 20px;
  box-shadow: 1px 3px 1px 0 rgb(123, 125, 124, 1),
    -4px -4px 1px -1px rgba(0, 0, 0, 0.3);

  // padding-top: 20px;
}

.icon-splay {
  height: auto;
  max-width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.icon-bar-li-bio {
  pointer-events: none;
  padding: 20px;
  height: auto;
  justify-content: space-evenly;
  color: $icon-color;

  &::after {
    content: "";
  }
}

.business-characteristic-parent {
  width: 100%;
  text-align: left;
  justify-content: left;

  // text-shadow: rgb(0, 0, 0) 3.5px 3.3px 2px;
}

.business-characteristic-ul {
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 1px;
  padding-left: 1px;
  line-height: 26px;
  letter-spacing: .75px;

  // text-shadow: rgb(0, 0, 0) 3.5px 3.3px 2px;
}

.bullet {
  flex: 1;
  flex-direction: column;
  size: inherit;
  display: inline-block;
}

.bullet-pint-description {
  text-shadow: none;
  color: $icon-color;
  padding: 5px;
  font-family: "Cormorant Garamond";
  text-align: left;
 font-weight: 100;
  font-size: 14px;
  word-spacing: 4px;
  letter-spacing: 1.75px;
}

.weakness {
  font-family: "Cormorant Garamond";
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  word-spacing: 1px;
  letter-spacing: 1.75px;
  line-height: 26px;
  padding: 5px;
  color: $font-color;
  text-shadow: none;
  // border-radius: 0.5em;
  // box-shadow: -2px -2px 2px 0 rgb(123, 125, 124, 1),
  //   4px 4px 3px 0 rgba(0, 0, 0, 0.3);
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

@media (min-width: 1000px) {
  .bio-parent {
    box-sizing: content-box;
    text-align: center;
    margin-top: 40px;
    padding: 40px;

    background-color: $background-body-color;
    justify-content: center;
    text-align: center;
  }

  .bio-main-title {
    font-family: "Dr Sugiyama, cursive";
  }

  .bio-subtitle-main {
    margin: 2px;
    font-size: 22px;
    font-family: "Dosis";
    font-weight: 00;
    color: $main-title-color;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgb(123, 125, 124, 1),
      -4px 4px 3px 0 rgba(0, 0, 0, 0.3);
  }

  .bio-subtitle {
    font-size: 30px;
    font-family: "Cormorant Garamond";
    font-weight: 0;
    letter-spacing: 2px;
    padding: 15px;
    margin: 20px;
    background-color: $background-body-color;
    color: $sub-title-color;
    text-shadow: rgba(41, 40, 40, 0.836) 1.3px 0.5px 0.5px;
    border-radius: 20px;
    box-shadow: 1px 3px 1px 0 rgb(123, 125, 124, 1),
      -4px -4px 16px -1px rgba(0, 0, 0, 0.3);

    // padding-top: 20px;
  }

  .business-characteristic-ul {
 
    font-size: 20px;
    padding-left: 1px;
    padding-left: 1%;
    
    // text-shadow: rgb(0, 0, 0) 3.5px 3.3px 2px;
  }
  
  .bullet {
    flex: 1;
    flex-direction: column;
    height: 10px;
    size: inherit;
    display: inline-block;
  }
  
  .bullet-pint-description {
    font-family: "Cormorant Garamond";
    font-size: 22px;
    padding: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    color: $font-color;
    line-height: 25px;
    // text-shadow: rgb(10, 10, 10) 2.83px 0.53px 1.3px;
  }

  .icon-splay {
    align-items: center;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
  }
  .icon-bar-li-bio {
    justify-content: space-evenly;
    pointer-events: none;
    margin-right: 0;
    //padding-right: 45px;
    color: $icon-color;
    height: 35px;

    &::after {
      content: "";
    }
  }

  .weakness {
    font-family: "Cormorant Garamond";
    text-align: left;
    font-weight: 200;
    font-size: 22px;
    word-spacing: 1px;
    letter-spacing: 1.75px;
    line-height: 26px;
    padding: 5px;
    color: $font-color;
    text-shadow: none;
    // border-radius: 0.5em;
    // box-shadow: -2px -2px 2px 0 rgb(123, 125, 124, 1),
    //   4px 4px 3px 0 rgba(0, 0, 0, 0.3);
  }
  }

