.bio-wrapper {
  box-sizing: content-box;
  color: rgb(56, 53, 50);
}

.bio-parent {
  box-sizing: content-box;
  text-align: center;
  margin-top: 40px;

  background-color: white;
  justify-content: center;
  text-align: center;
}

.bio-title-area {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #363636;
}

.bio-main-title {
  font-size: 28px;
  font-family: "Titillium Web";
  padding-top: 20px;
}

.bio-subtitle-main {
  font-size: 28px;
  font-family: "Courgette";
  color: rgb(251, 252, 249);
  font-weight: 0;
}

.bio-subtitle {
  font-size: 26px;
  font-family: "Courgette";
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  color: #363636;
  text-shadow: rgba(218, 165, 32, 0.514) 0.5px 0.5px;

  // padding-top: 20px;
}

.icon-splay {
  height: auto;
  max-width: 85%;
  flex-wrap: wrap;
  overflow: hidden;
}
.icon-bar-li-bio {
  pointer-events: none;
  padding: 20px;
  height: auto;
  justify-content: space-evenly;
  color: goldenrod;

  &::after {
    content: "";
  }
}
.microsoft {
  height: 34px;
  background-color: goldenrod;
  margin: 20px;
  border-radius: 4px;
 
}

.business-characteristic-parent {
  width: 100%;
  text-align: left;
  justify-content: center;
  text-shadow: none;
}

.business-characteristic-ul {
  font-family: "Telium Web";
  font-size: 18px;
  justify-content: "left";

  text-align: "center";
}

.bullet {
  flex: 1;
  flex-direction: column;
  height: 8px;
  size: inherit;
  display: inline-block;
}

.bullet-pint-description {
  padding-left: 0;
  color: black;
}

.weakness {
  text-shadow: none;
  font-family: "Courgette";
  font-style: bold;
  font-weight: 100;
  font-size: 20px;
  word-spacing: 1;
  padding: 10px 50px;
  color: #363636;
  //text-shadow: rgba(0, 0, 0, 0.514) .2px 0.2px 2px;
}

@media screen and (max-width: 450px) {
  .icon-splay {
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
  }
  .icon-bar-li-bio {
    justify-content: space-evenly;
    pointer-events: none;
    margin-right: 0;
    padding-right: 15px;
    color: rgba(218, 165, 32, 0.809);
    height: 25px;

    &::after {
      content: "";
    }
  }
  .microsoft {
    height: 23px;
    background-color: rgba(218, 165, 32, 0.801);
    justify-content: space-evenly;
    pointer-events: none;
    margin-right: inherit;
    padding-right: 0px;
    margin-right: 25px;
  }
}
