$main-title-color: rgba(218, 165, 32, 0.741);
$sub-title-color: rgb(255, 187, 0);
$font-color: rgba(216, 216, 216, 0.939);
$icon-color: #7b7d7c;
$background-icon-color: rgb(91, 89, 89);
$background-body-color: rgba(255, 255, 255, 0.224);
$background-main-body-color: transparent;
$icon-color: "goldenrod";

:root {
	--bio-background: url("../../Assets/grey1.jpg");
}

* {
	font-weight: 100;
}

.bio-wrapper {
	box-sizing: content-box;
}

.bio-parent {
	box-sizing: content-box;
	text-align: center;

	justify-content: center;
	text-align: center;
	padding: 2px;
	padding-top: 30px;
}

.bio-title-area {
	justify-content: center;
	align-items: center;
	text-align: center;

	height: auto;

	overflow: hidden;
	position: relative;
}

.education-list {
	margin-left: -25px;
	margin-top: 25px;
	font-size: 18px;
	font-family: 'Tenor Sans', sans-serif;

	p {
		//padding: 2px;
		font-family: 'Tenor Sans', sans-serif;
		//	padding-left: -4px;

		color: #219cb4;
		line-height: 20px;
		font-size: calc(14px + 0.2vw);
		font-weight: 900;
		margin: 0px;
	}
}

.bio-subtitle-main {
	margin: 2px;
	font-size: 12px;
	font-weight: 00;
	color: $main-title-color;
	border-radius: 20px;
	//  box-shadow: 3px 3px 3px 0 rgb(123, 125, 124, 1),
	//    -4px 4px 3px 0 rgba(0, 0, 0, 0.3);
}

.bio-subtitle {
	font-size: 20px;

	font-weight: 0;
	letter-spacing: 2px;
	padding: 10px;
	margin: 20px;
	color: $sub-title-color;
	border-radius: 20px;
	box-shadow: 1px 3px 1px 0 rgb(123, 125, 124, 1), -4px -4px 1px -1px rgba(0, 0, 0, 0.3);

	// padding-top: 20px;
}

.icon-splay {
	height: auto;
	max-width: 100%;
	padding: 5px;
	flex-wrap: wrap;
	justify-content: center;
}
.icon-bar-li-bio {
	pointer-events: none;
	padding: 20px;
	height: auto;
	justify-content: space-evenly;
	color: $icon-color;

	&::after {
		content: "";
	}
}

.business-characteristic-parent {
	width: 100%;
	text-align: left;
	justify-content: left;

	// text-shadow: rgb(0, 0, 0) 3.5px 3.3px 2px;
}

.business-characteristic-ul {
	color: rgb(255, 255, 255);
	font-size: calc(14px + 0.2vw);
	padding: 1px;
	padding-left: 1px;
	font-family: 'Tenor Sans', serif;

	// text-shadow: rgb(0, 0, 0) 3.5px 3.3px 2px;
}

.bullet {
	flex: 1;
	flex-direction: column;
	size: inherit;
	display: inline-block;
}

.bullet-pint-description {
	color: $font_color;
	padding: 3px;
	text-align: left;

	font-size: calc(14px + 0.2vw);
	padding-right: -5px;
}

.weakness {
	text-align: left;
	font-weight: 100;
	font-size: calc(14px + 0.2vw);
	line-height: 22px;
	padding: 5px;
	padding-top: 20px;
	color: $font-color;
	letter-spacing: 1.2px;
}

#text {
	font-weight: 100;
}
