$font: 'Tenor Sans', sans-serif;
$color: whitesmoke;
$accent: rgb(228, 190, 37);
$punch: rgb(237, 237, 13);
$background-color: 'white';

#tag,
#intel,
#safe {
	color: $accent;
	font-family: 'Tenor Sans', sans-serif;
	text-decoration: underline;
	font-size: calc(10px + .2vw);
	padding: 10px;
	padding-right: 10%;
	line-height: 3px;
	font-weight: 300;
	flex: 1;
	display: flex;
	flex-direction: row-reverse;
}
#tagged,
#no-intel,
#no-safe {
	display: none;
}

.why {
	padding-left: 3px;
	//	font-family: 'Tenor Sans', sans-serif;
	margin-bottom: 0;
	font-size: 12px;
}

.sep {
	margin-bottom: 55px;
}

#text {
	padding: 0px;
	margin-left: -10px;
	flex: 1;
}
//
// p {
//   text-indent: 20px;
//   font-family: 'Tenor Sans', sans-serif;
//   color: rgb(228, 227, 227);
//   font-weight: 200;
//   letter-spacing: 1px;
// }
a {
	color: goldenrod;
	&:hover {
		color: goldenrod;
		text-decoration: none;
	}
}
.dateOf {
	padding-bottom: 14px;
	margin-left: -20px;
	margin-top: -10px;
	font-size: calc(10px + 0.2vw);
	line-height: 16px;
	color: rgb(226, 180, 62);
	&::first-letter {
		font-size: 52px;
		font-style: bold;
	}
}

.arrow {
	font-size: 20px;
	color: goldenrod;
	border-radius: 5px;
	font-weight: 900;
}

.arrow-text {
	font-size: 16px;
	text-align: center;
	color: rgb(226, 180, 62);
}

.innerList {
	padding-left: 5px;
	font-family: 'Tenor Sans', sans-serif;
	font-weight: 600;
	color: $color;
	font-size: 16px;
	padding-bottom: 30px;
}

#push {
	padding-left: 0px;
	font-family: 'Tenor Sans', sans-serif;
	letter-spacing: 2px;
}

.example-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 18px;
	text-align: center;
	align-self: center;
	justify-content: center;
	margin-bottom: 0px;
	padding-top: 35px;
	color: $punch;
	text-shadow: black 1.2px 1.3px;
}

.timeline {
	//line-height: 1.2em;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: inherit;
	}
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
	//	background-color: rgb(49, 49, 49);
	border-radius: 25px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 15px;
	margin: -20px 0px;
	position: relative;

	// background-color: rgba(46, 44, 44, 0.767);
	// box-shadow: 1px 1px 2px rgb(87, 87, 87), -1px -1px 2px rgb(87, 87, 87);
	&:last-child {
		padding-bottom: 0;
	}
}
.timeline-item-bottom {
	//	background-color: rgb(49, 49, 49);
	border-radius: 25px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 15px;
	margin: -10px 0px;
	position: relative;

	// background-color: rgba(46, 44, 44, 0.767);
	// box-shadow: 1px 1px 2px rgb(87, 87, 87), -1px -1px 2px rgb(87, 87, 87);
	&:last-child {
		padding-bottom: 0;
	}
}

#expPic {
	size: contain;
	border: groove;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(85, 83, 83);
}

/*----- TIMELINE INFO -----*/

.timeline-info {
	display: contents;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 0.2em 0;
	white-space: nowrap;
	padding-left: 22px;
	color: $punch;
	text-shadow: black 1px 1px;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	margin-left: 5px;
	&:before {
		background: rgb(226, 180, 62);
		border: 2.2px solid rgb(0, 0, 0);

		border-radius: 100%;
		content: "";
		display: block;
		height: 15px;
		position: absolute;
		top: 4px;
		left: 0;
		width: 15px;
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
	}
	&:after {
		content: "";
		width: 3px;
		background: #e1a714db;
		display: block;
		position: absolute;
		top: 24px;
		bottom: 0;
		left: 7px;
	}
	.timeline-item:last-child &:after {
		content: none;
	}
}
.timeline-item:not(.period):hover .timeline-marker:before {
	//	background: transparent;
}

.timeline-marker-bottom {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	margin-left: 5px;
	&:before {
		background: rgb(226, 180, 62);
		border: 2.2px solid rgb(0, 0, 0);

		border-radius: 100%;
		content: "";
		display: block;
		height: 15px;
		position: absolute;
		top: 4px;
		left: 0;
		width: 15px;
		transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
	}

	.timeline-item:last-child &:after {
		content: none;
	}
}
.timeline-item:not(.period):hover .timeline-marker:before {
	//	background: transparent;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
	padding-bottom: 0px;
	color: black;
	p:last-child {
		font-family: 'Tenor Sans', sans-serif;
		color: rgb(62, 62, 62);
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 0;
		padding-right: 12px;
	}
}

/*----- TIMELINE PERIOD -----*/

.period {
	padding-left: 10%;
	.timeline-info {
		display: none;
	}
	.timeline-marker {
		&:before {
			background: transparent;
			content: "";
			width: 15px;
			height: auto;
			border: none;
			border-radius: 0;
			top: 0;
			bottom: 30px;
			position: absolute;
		}
		&:after {
			content: "";
			height: 32px;
			top: auto;
		}
	}
	.timeline-content {
		//padding: 15px 70px;
		font-weight: 650;
		font-family: 'Tenor Sans', sans-serif;
		color: red;
	}
	.timeline-title {
		display: flex;
		padding-left: 25px;
		margin-bottom: 1000px;
	}
}

.ExperienceListParent {
	font-weight: 450;
	font-family: 'Tenor Sans', sans-serif;
	font-style: normal;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 300px;
	padding-bottom: 5px;
}

.p-bodies {
	color: $color;
	font-size: calc(13px + 0.15vw);
	letter-spacing: 1.42px;
	word-spacing: 1.3px;
	font-family: 'Tenor Sans', sans-serif;
	padding-bottom: 20px;
	font-weight: 100;
}

.icon-parent {
	color: $color;
	font-size: calc(10px + .2vw);
	font-family: 'Tenor Sans', sans-serif;
	font-weight: 100px;
}

.timeline-title {
	display: flex;
	padding: 45px 0px 0px 0px;
	padding-left: 0px;
	color: $color;
	font-size: calc(20px + .2vw);
	font-family: 'Tenor Sans', sans-serif;
	color: rgb(250, 249, 248);
}

.position {
	color: $accent;
	padding-bottom: 40px;
	font-size: calc(14px + .2vw);
	color: rgb(9, 194, 207);
}

.duration {
	font-size: 12px;
	color: $accent;
	padding-left: 10px;
}

.edge-down {
	margin-top: 30px;
}

.key-responsibility-title {
	padding: 5px;
	color: $accent;
}

.addendum-two {
	color: lightgoldenrodyellow;
	font-size: 10px;
	font-family: 'Tenor Sans', sans-serif;
	font-weight: 100;
}

.resume-title {
	padding-top: 60px;
	display: flex;
	margin: auto;
	font-size: 30px;
	color: $color;
	font-family: 'Piazzolla', serif;
}

.hard-resume-block {
	display: flex;
	// position: absolute;
	// right: 5px;
	// top: 10px;
	text-align: center;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	padding-top: 1px;
	margin: auto;
	border: 2px solid #498294;
	color: #727271;
	border: 2px groove #727271;
	padding: 2px;
		&:hover {
		cursor: pointer;
	}
}
.hard-resume-text {
	display: flex;
	font-weight: 700;
	align-items: center;
	font-size: calc(11px + .2vh);
	padding-left: 5px;
	color: #498294;


}
