$primary-color: goldenrod;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

#tag {
  color: blue;
  font-size: 0.9rem;
  font-style: bold;
}
#tagged {
  display: none;
}
#intel {
  color: blue;
  font-size: 0.9rem;
  font-style: bold;
}
#no-intel {
  display: none;
}

.ExperienceListParent {
  font-style: oblique;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color-hover;
    text-decoration: none;
  }
}
#padSpan {
  padding: 10px;
}
.example-header {
  background: #3d4351;
  color: #fff;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
  h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  }
}
.container-fluid {
  .row {
    padding: 0 0 4em 0;
    &:nth-child(even) {
      background: #f1f4f5;
    }
  }
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
  p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }
}

/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: inherit;
  }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
  padding-left: 50px;
  position: relative;
  &:last-child {
    padding-bottom: 0;
  }
}

#expPic {
  width: 200px;
  float: left;
  position: left;
  margin-left: 20px;
  size: contain;
  border: groove;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(85, 83, 83);
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.2em 0;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 12px;
  color: goldenrod;
  text-shadow: black 1px 1px;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  margin-left: 15px;
  &:before {
    background: rgba(218, 165, 32, 0.728);
    border: 1.5px groove black;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  &:after {
    content: "";
    width: 3px;
    background: #ccd5db;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 7px;
  }
  .timeline-item:last-child &:after {
    content: none;
  }
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid $primary-color;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 40px;
  p:last-child {
    margin-bottom: 0;
    padding-right: 12px;
  }
}

/*----- TIMELINE PERIOD -----*/

.period {
  padding-left: 10%;
  .timeline-info {
    display: none;
  }
  .timeline-marker {
    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 30px;
      position: absolute;
      border-top: 3px solid #ccd5db;
      border-bottom: 3px solid #ccd5db;
    }
    &:after {
      content: "";
      height: 32px;
      top: auto;
    }
  }
  .timeline-content {
    padding: 15px 70px;
  }
  .timeline-title {
    padding-left: 25px;
  }
}

.ExperienceListParent {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 300px;
}
