.drawer-parent {
  display: flex;
  height: 100vh;
  width: 220px;
  background: #1C1C1C;
  top: 0;
  right: 0;
  font-family: 'Cinzel Decorative', cursive;
  box-shadow: 2px 0px 0.1rem rgb(7, 0, 0);
  z-index: 5;
  position: fixed;
  align-content: center;
  justify-content: center;
  padding-top: 110px;
}


.drawer-ul {
  padding: 10px;
   font-family: 'Cinzel Decorative', cursive;
}
