.drawer-parent {
  display: flex;
  height: 100vh;
  width: 170px;
  transition-duration: 3.25s;
  transition-timing-function: ease;
  background: rgb(0, 0, 0);
  top: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-shadow: 2px 0px 0.1rem rgb(7, 0, 0);
  z-index: 5;
  position: fixed;
  align-content: center;
  justify-content: center;
  padding-top: 110px;
}

.drawer-ul {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.drawer-ul li {
  text-decoration: none;
}
