:root {
	--main-color: #bba15f;
	--main-secondary: #363636;
	--home-background: url("../../Assets/grey1b.jpg");
}

/* At the top level of your code */

* {
	box-sizing: content-box;
}

.home-container {
	display: flex;
	flex-direction: column;
min-height: 70vh;
	max-height: 100%;
	box-sizing: content-box;
	width: 100%;
	
}

.home-top {
	background-color: transparent;
	object-position: center;
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 100%;
	height: 100%;
	
}

.home-frame {




}

.home-icon {
	display: flex;

	//size: contain;
	margin: auto;
	object-fit: contain;
	border-radius: 50%;
	image-rendering: optimizeQuality;
}

.home-bottom {
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-name {
	display: flex;
	margin: auto;
	color: '#A3B1FD';
	color: rgb(223, 222, 222);
	background: transparent;
	text-shadow: black 1.5px 1.5px 0;
	font-weight: 100;
	font-size: 60px;
	word-spacing: 7px;
	//margin-top: 4.4em;
	font-family: "Dr Sugiyama", cursive;
	padding-top: 25px;
}

.home-subtitle {
	color: goldenrod;
	text-shadow: #000000 1px 1px;
	text-align: center;
}

.home-subTitle2 {
	align-self: center;
	font-weight: 300;
	color: black;
	font-family: "Mukta";
	padding-top: 5px;
	color: rgb(223, 222, 222);

	background-color: var(--main-secondary);
	background: transparent;
	text-shadow: #000000 1px 1px;
	font-size: 20px;
}


 @media all and (min-width: 1110px){
	 
	}    