.section {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  // margin-top: -22px;
  background-image: url('../../Assets/businessPlan.jpg');
  // background: linear-gradient(
  //   180deg,
  //   rgba(129, 125, 125, 0.8032786885245902) 0%,
  //   rgba(206, 168, 27, 0.8032786885245902) 12%,
  //   rgba(37, 36, 36, 1) 6%,
  //   rgba(0, 0, 0, 1) 65%
  z-index: 3;
  
  // display: grid;
}

.container {
  position: inherit;
  margin-top: -26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.left {
  background-color: transparent;
  justify-self: center;
}

.right {
  display: inline;
  padding-top: 5px;
}

.bobblehead {
  height: 200px;
  max-height: 350px;
  padding: 2em;
  margin-top: 4em;
  border-color: black;
  border-radius: 50%;
  border-width: 5px;
}

.subTitle2 {
  color: goldenrod;
  font-family: "Source Code Pro", Courier, monospace;
  font-weight: 900;
  line-height: 1;
}

.subTitle3 {
  font-family: "Source Code Pro", Courier, monospace;
  color: #c00;
  font-weight: 200;
}
