.sp-container {
  position: relative;
  margin-top: -22px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 0;
  height: 200px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  left: 0;
  right: 0;
  top: 0;
}

.pro {
  //background-image: url("../../Assets/businessPlan.jpg");
  background-color: rgba(34, 33, 33, 0.836);
  opacity: 0.8;
  width: 100%;
  size: cover;
  align-self: center;
}

.siteTitle {
  position: absolute;
  width: 100%;
  color: goldenrod;
  font-size: 2.4rem;
  text-align: center;
  justify-content: center;
  text-shadow: rgb(5, 5, 5) 1px 1px;
  border-radius: 10px;
  background-size: inherit;
  padding: 10px;
  z-index: 1;
}

.under {
  flex-direction: column;
  padding: 15px;
}
.bobblehead {
  bottom: 20px;
  left: 10%;
  z-index: 3;
  width: auto;
  height: 245px;
  border-color: goldenrod;
  border-radius: 50%;
  border-width: 5px;
  margin-right: 20px;
  float: left;
}

.under h1,
h2,
h3 {
  padding-top: 60px;
  margin: 0px 25px;
  initial-letter-align: 10px;
  float: left;
}
