.header_bar {
  // top: 0;
  width: 100%;
  position: fixed;
  margin-top: -10px;
  background: #363636;
  height: 56px;
  z-index: 100;
}
.drawer_parent {
 // flex: 1;
  flex-direction: row-reverse;
  display: flex;
  position: relative;
  right: 0;
  align-items: center;
  height: 100%;
  padding: 0 1rem; // padding zero Top&Bottom 1rem Left&Right
}
#W {
  color: goldenrod;
}

.site_name {
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-top: 15px;
  box-sizing: border-box; //ensures lines stay inside of button
  font-size: 1.6rem; //places items in this list next to each other
}

.header_button_list {
  padding: 0;
  display: flex;
  text-decoration: none;
}
.drawer_ul li {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
}

.drawer_ul a:hover,
.drawer_ul a:active {
  color: orange;
}

.push_site_name_and_drawer_ul_apart {
  flex: 1;
}

.top-drawer-ul {
  display: none;
}

.header-drawer-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header-drawer-ul{
  display: none;
}


/* ****** ****** */
@media all and (min-width: 1000px) {

  .header-drawer-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header-drawer-ul{
    display: flex;
    margin-top: -3px;
  }

  .header_bar {
    // top: 0;
    width: 100%;
   // position: fixed;
    margin-top: -10px;
    background: #363636;
    height: 55px;
    z-index: 100;
  }
  .drawer_parent {
    display: none;

  }
  #W {
    color: goldenrod;
  }
  
  .site_name {
  display: none;
  }
  
  .header_button_list {
    display: none;

   
  }
  .drawer_ul li {
    display: none;

  }
  
  .drawer_ul a:hover,
  .drawer_ul a:active {
    color: orange;
  }
  
  .push_site_name_and_drawer_ul_apart {
    flex: 1;
  }
}