/*logo brown #363435
  logo tan #BBA15F
*/


* {
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 100;
}



html, body {
  background-color: #262626;
 
 background-image:  url("./Assets/black2.jpeg");
 background-position: center ;
background-repeat: repeat-y;
backdrop-filter: opacity(.2);
  width: 100vw;
  height: 100%;
}


.parent{
  display: flex;
  flex-direction: column;
  width: 100vw;
height: 100%;
  max-width: 900px;
  margin: auto;
  background-color: #262626;
background-image:  url("./Assets/black2.jpeg");
background-position: center;
background-repeat: repeat-y;
backdrop-filter: opacity(.2);
background-size: unset;
overflow-x: hidden;
scrollbar-width: none;

}


